/****************
** Core Styles **
****************/
:root {
  font-size: 16px;
}

* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  position: relative;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
}

ol,
ul,
li {
  list-style: none;
}

button,
input,
textarea {
  background: transparent;
  border: none;
  outline: none;
}

.container {
  position: relative;
  max-width: 1460px;
  width: 100%;
  padding: 0 1.25em;
  margin: 0 auto;
}

/******************
** Button Styles **
******************/
.btn {
  display: inline-block;
  position: relative;
  padding: 1.125em 2.25em;
  border-radius: 8px;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.1875rem;
  font-weight: 600;
  cursor: pointer;
}
.btn.primary {
  background-color: #FF8541;
  color: #fff;
}
.btn.secondary {
  background-color: #fff;
  color: #1C1917;
  border: 1px solid #555351;
}

/****************
** Form Styles **
****************/
.input,
.text-area {
  position: relative;
  max-width: 33.3125em;
  border: 1px solid #C6C5C5;
  border-radius: 8px;
  overflow: hidden;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
}
.input input,
.input textarea,
.text-area input,
.text-area textarea {
  display: inline-block;
  width: 100%;
  padding: 0 1.4375em;
}
.input input, .input input::placeholder,
.input textarea,
.input textarea::placeholder,
.text-area input,
.text-area input::placeholder,
.text-area textarea,
.text-area textarea::placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 187.5%;
  color: #8D8C8B;
}

.input {
  height: 3.75em;
}
.input input {
  height: 100%;
}

.text-area {
  height: 7em;
}
.text-area textarea {
  padding-top: 1em;
  resize: none;
}

/****************
** Icon Styles **
****************/
.icon {
  position: relative;
  max-width: 2.5em;
  max-height: 2.5em;
  cursor: pointer;
}
.icon.lg {
  max-width: 4em;
  max-height: 4em;
}
.icon.arrow {
  display: flex;
  flex-direction: unset;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0;
  max-width: unset;
  max-height: unset;
  width: 56px;
  height: 56px;
  border: 1px solid #1C1917;
  border-radius: 50%;
}
.icon.arrow.left {
  transform: rotate(180deg);
}
.icon.arrow img {
  position: relative;
  width: 31px;
  height: 31px;
}
.icon.no-cursor {
  cursor: default;
}
.icon svg {
  width: 100%;
  height: 100%;
}
.icon.circle {
  width: 4em;
  height: 4em;
  border: 1px solid #fff;
  border-radius: 50%;
}

/**************************
** UniversityCard Styles **
**************************/
.university-card {
  display: flex;
  flex-direction: unset;
  align-items: flex-end;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 0;
  position: relative;
  width: 21.0625em;
  height: 16.25em;
  border-radius: 16px;
  padding: 1.625em 1.5em;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
}
.university-card .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  z-index: -2;
}
.university-card .content {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 0.75em;
  position: relative;
  width: 100%;
}
.university-card .content .name {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.1875em;
  color: #fff;
  max-width: 11.6875em;
}
.university-card .content .info__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 0;
  position: relative;
}
.university-card .content .info__wrapper .location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 0.25em;
}
.university-card .content .info__wrapper .location,
.university-card .content .info__wrapper .specification {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.1875em;
  color: #fff;
}
.university-card .content .info__wrapper .location .location-icon,
.university-card .content .info__wrapper .specification .location-icon {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 18px;
}

/*********************
** News Card Styles **
*********************/
.news__card {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 0;
  position: relative;
  width: 21.0625em;
  height: 28.625em;
  border-radius: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.news__card .img {
  position: relative;
  width: 100%;
  max-height: 13.5em;
  height: 100%;
  flex-shrink: 0;
}
.news__card .content {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 0.5625em;
  position: relative;
  width: 100%;
  padding: 1.5em;
  background-color: #F9F8F6;
  flex: 1 1 auto;
}
.news__card .content .title {
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  color: #1C1917;
}
.news__card .content .description {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #555351;
}

/************************
** Comment Card Styles **
************************/
.comment-card {
  display: flex;
  flex-direction: unset;
  align-items: flex-end;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 0;
  position: relative;
  width: 21.0625em;
  height: 29.25em;
  border-radius: 16px;
  padding: 1.6875em 1.5em;
  overflow: hidden;
  background: linear-gradient(179.97deg, rgba(0, 0, 0, 0) 0.03%, rgba(0, 0, 0, 0.5) 126.88%);
  flex-shrink: 0;
}
.comment-card .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.comment-card .content {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 0;
  position: relative;
}
.comment-card .content .name {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #fff;
}
.comment-card .content .specification {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.125rem;
  color: #fff;
}

/************************
** Article Card Styles **
************************/
.article-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 0;
  position: relative;
  max-width: 43.625em;
  width: 100%;
  height: 13.25em;
  border-radius: 12px;
  overflow: hidden;
}
@media (max-width: 1460px) {
  .article-card .article-card {
    flex-direction: column;
    flex-shrink: 0;
    width: calc(33.3333333333% - 1.5em);
    height: 28.125em;
  }
  .article-card .article-card .img {
    max-width: 100%;
  }
}
.article-card .img {
  position: relative;
  max-width: 17.4375em;
  width: 100%;
  height: 100%;
}
.article-card .content {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 0.75em;
  position: relative;
  flex: 1 1 auto;
  height: 100%;
  padding: 1.5em;
  background-color: #F9F8F6;
}
.article-card .content .title {
  font-weight: 400;
  font-size: 1.5625rem;
  line-height: 1.875rem;
  color: #1C1917;
}
.article-card .content .description {
  font-weight: 400;
  font-size: 1rem;
  line-height: 137.5%;
  color: #555351;
}

/**********************
** About Card Styles **
**********************/
.about-card {
  display: flex;
  flex-direction: unset;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0;
  position: relative;
  width: 7.9375em;
  height: 7.9375em;
  border-radius: 8px;
  overflow: hidden;
}
.about-card .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/******************
** Footer Styles **
******************/
.footer {
  position: relative;
  width: 100%;
  padding: 3.75em 0;
  background-color: #F9F8F6;
  border-top: 1px solid #C6C5C5;
  margin-top: 5em;
}
@media (max-width: 1200px) {
  .footer {
    border-top: transparent;
  }
}
.footer .container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0;
}
@media (max-width: 600px) {
  .footer .container {
    flex-direction: column;
    align-items: center;
  }
}
.footer .container > div {
  margin-right: 3.125em;
  margin-bottom: 2.5em;
}
.footer .container > div:last-child {
  padding-right: 0;
}
.footer .img.logo {
  position: relative;
  width: 6.875em;
  height: 4.9375em;
  margin-right: 3.125em;
  margin-bottom: 2.5em;
}
.footer .social__networks {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 1.25em;
  position: relative;
}
.footer .social__networks .text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.875em;
  color: #1C1917;
}
.footer .social__networks .social__icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 1.25em;
}
.footer .social__networks .social__icons .social__icon {
  position: relative;
  width: 1.3125em;
  height: 1.3125em;
}
.footer .social__networks .social__icons .social__icon i {
  font-size: 1.25em;
}
.footer .contact {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 0.9375em;
  position: relative;
}
.footer .contact i {
  font-size: 1.25em;
}
.footer .contact i.bi-at {
  font-size: 1.5625em;
}
.footer .contact .phone,
.footer .contact .email {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 0.9375em;
}
.footer .contact .phone .number,
.footer .contact .phone .email-address,
.footer .contact .email .number,
.footer .contact .email .email-address {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.875em;
  color: #1C1917;
}
.footer .location {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 0.8125em;
  position: relative;
}
@media (max-width: 600px) {
  .footer .location {
    display: none;
  }
}
.footer .location .address {
  position: relative;
  width: 13.125em;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.875em;
}
.footer .location .map {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0.5625em;
  position: relative;
  width: 8.875em;
  height: 2.6875em;
  background-color: #fff;
  border-radius: 16px;
  cursor: pointer;
}
.footer .location .map i {
  font-size: 1.25rem;
}
.footer .location .map .description {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875em;
  color: #1C1917;
}
.footer .privicy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0.75em;
  position: relative;
  width: 15.375em;
  height: 3.5625em;
  background-color: #fff;
  border-radius: 16px;
}
.footer .privicy .img.appx-sign {
  position: relative;
  width: 2.0625em;
  height: 2.0625em;
}
.footer .privicy .description {
  position: relative;
  width: 10.625em;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1em;
  color: #1C1917;
}

/******************
** Navbar Styles **
******************/
.navbar {
  position: relative;
  padding: 0.625em 0;
  border-bottom: 1px solid #C6C5C5;
}
@media (max-width: 1200px) {
  .navbar {
    border-bottom: transparent;
  }
}
.navbar .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 0;
  z-index: 999;
}
.navbar .navbar__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 8.1875em;
}
.navbar .navbar__content .logo {
  position: relative;
  width: 6.875em;
  height: 4.9375em;
}
.navbar .navbar__content .navbar__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 3em;
}
@media (max-width: 1200px) {
  .navbar .navbar__content .navbar__links {
    display: none;
  }
}
.navbar .navbar__action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 0.75em;
  position: relative;
}
.navbar .navbar__action .burger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0.5625em;
  display: none;
  position: relative;
  width: 3.4375em;
  height: 3.4375em;
  border-radius: 8px;
  background-color: #FF8541;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .navbar .navbar__action .burger-menu {
    display: flex;
  }
}
.navbar .navbar__action .burger-menu .line {
  position: relative;
  width: 1.5em;
  border: 1px solid #fff;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.navbar .navbar__action .burger-menu.open .line:first-child {
  width: 1.875em;
  transform-origin: left;
  transform: rotate(45deg);
  margin-left: 0.5em;
}
.navbar .navbar__action .burger-menu.open .line:nth-child(2) {
  opacity: 0;
}
.navbar .navbar__action .burger-menu.open .line:last-child {
  width: 1.875em;
  transform-origin: left;
  transform: rotate(-45deg);
  margin-left: 0.5em;
}
.navbar .navbar__link {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.1875rem;
  color: #8D8C8B;
  transition: all 0.3s ease;
}
.navbar .navbar__link:hover {
  color: #1C1917;
}
.navbar .navbar__link.active {
  color: #1C1917;
}
.navbar .links__modal {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(-6.1875em);
  padding: 3.125em 0;
  background: linear-gradient(#fff, #dedede);
  z-index: 99;
  opacity: 0;
  transition: all 0.5s ease;
}
.navbar .links__modal.open {
  opacity: 1;
  transform: translateY(100%);
}
@media screen and (min-width: 1200px) {
  .navbar .links__modal {
    transform: translateY(-100%) !important;
  }
}
.navbar .links__modal .container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 0;
}
.navbar .links__modal .navbar__links {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 1.875em;
}
.navbar .languages-selection {
  position: relative;
  width: 4.375rem;
  height: 3.4375rem;
  border-radius: 8px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .navbar .languages-selection {
    width: 5.3125rem;
  }
}
.navbar .languages-selection.open .language {
  display: flex;
}
.navbar .languages-selection.open .language.selected::after {
  transform: rotate(135deg);
}
@media (max-width: 1200px) {
  .navbar .languages-selection:not(.mobile) {
    display: none;
  }
}
.navbar .languages-selection .arrow-icon {
  position: absolute;
  top: 50%;
  right: 1.125em;
  transform: translateY(-70%) rotate(-45deg);
  width: 0.5em;
  height: 0.5em;
  border-left: 2px solid #555351;
  border-bottom: 2px solid #555351;
}
.navbar .languages-selection .language {
  display: flex;
  flex-direction: unset;
  align-items: center;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 0;
  position: relative;
  display: none;
  padding-left: 1.125em;
  width: 100%;
  height: 100%;
  border: 1px solid #555351;
  border-radius: inherit;
  background: #fff;
  margin-top: 4px;
  z-index: 99;
}
.navbar .languages-selection .language:first-child {
  margin-top: 0;
}
.navbar .languages-selection .language.selected {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  margin-top: 0;
}
.navbar .languages-selection .language.selected::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 1.125em;
  width: 0.4375em;
  height: 0.4375em;
  border-left: 1px solid #1C1917;
  border-bottom: 1px solid #1C1917;
  transform: rotate(-45deg);
  transition: all 0.3s ease;
}

/*********************
** Resposive Styles **
*********************/
@media (max-width: 900px) {
  :root {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  :root {
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  :root {
    font-size: 12px;
  }
}

/*********************
** Home Page Styles **
*********************/
.main {
  position: relative;
}
@media (pointer: coarse) {
  .main * {
    scrollbar-width: none;
  }
}
@media (max-width: 768px) {
  .main header,
  .main footer,
  .main section {
    margin-top: 2em !important;
    gap: 1.5em !important;
  }
}
@media (max-width: 768px) {
  .main .arrow-card {
    width: calc(50% - 10px) !important;
  }
}
@media (max-width: 440px) {
  .main .arrow-card {
    width: 100% !important;
  }
}
@media (max-width: 1460px) {
  .main .arrow-cards__wrapper {
    flex-wrap: nowrap !important;
    overflow-x: scroll;
  }
}
@media (max-width: 768px) {
  .main .arrow-cards__wrapper {
    overflow: hidden;
  }
}
.main .arrow-icons__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0.75em;
  position: relative;
  width: 100%;
  display: none;
}
@media (max-width: 768px) {
  .main .arrow-icons__wrapper {
    display: flex;
  }
}
.main .to-btn--color {
  color: #FF8541;
}
.main .section__title {
  font-weight: 600;
  font-size: 2.4375rem;
  line-height: 2.9375rem;
  color: #1C1917;
}
.main .banner {
  display: flex;
  flex-direction: unset;
  align-items: flex-end;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 0;
  position: relative;
  width: 100%;
  height: 44.75em;
  margin-top: 5em;
  border-radius: 26px;
  overflow: hidden;
  padding: 5.25em 5em;
  background: linear-gradient(359.84deg, #000000 1.04%, rgba(28, 25, 23, 0) 77.98%);
}
@media (max-width: 1024px) {
  .main .banner {
    padding: 1.5em;
  }
}
.main .banner .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.main .banner .content {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 1.875rem;
  position: relative;
}
.main .banner .content .title {
  font-weight: 600;
  font-size: 4rem;
  line-height: 120%;
  width: 46.875rem;
  color: #fff;
}
@media (max-width: 1200px) {
  .main .banner .content .title {
    font-size: 3.625rem;
  }
}
@media (max-width: 1024px) {
  .main .banner .content .title {
    font-size: 3rem;
  }
}
@media (max-width: 900px) {
  .main .banner .content .title {
    font-size: 2.375rem;
    font-weight: 400;
    width: 80%;
  }
}
@media (max-width: 768px) {
  .main .banner .content .title {
    font-size: 1.75rem;
  }
}
.main .banner .content .description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 1.5625rem;
  font-weight: 400;
  font-size: 1.5625rem;
  line-height: 120%;
  color: #fff;
}
.main .banner .content .description span {
  width: 24.5625rem;
}
@media (max-width: 1200px) {
  .main .banner .content .description {
    font-size: 1.4375rem;
  }
}
@media (max-width: 1024px) {
  .main .banner .content .description {
    display: none;
  }
}
.main .top-programs__section {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 3.125em;
  position: relative;
  margin-top: 5em;
}
.main .top-programs__section .action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 0;
  position: relative;
}
.main .top-programs__section .cards__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: unset;
  flex-wrap: wrap;
  gap: 1.5em;
  position: relative;
}
@media (max-width: 1460px) {
  .main .top-programs__section .cards__wrapper {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}
.main .news__section {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 3.125em;
  position: relative;
  margin-top: 5em;
}
.main .news__section .news__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 1.5em;
}
.main .about__section {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 3.125em;
  position: relative;
  margin-top: 5em;
}
.main .about__section .about {
  position: absolute;
  display: inline-block;
  bottom: 3em;
  left: 3em;
  z-index: 5;
}
@media (max-width: 1220px) {
  .main .about__section .about {
    bottom: 1.5em;
    left: unset;
    right: 1.5em;
  }
}
.main .about__section .content {
  display: flex;
  flex-direction: row;
  align-items: unset;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 0;
  position: relative;
  padding: 3em;
  background-color: #F9F8F6;
  border-radius: 26px;
  overflow: hidden;
}
@media (max-width: 1220px) {
  .main .about__section .content {
    flex-direction: column;
    padding: 1.5em;
    padding-bottom: 7.5em;
  }
}
.main .about__section .content .action {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 0;
  position: relative;
  margin-right: 8.125em;
}
@media (max-width: 1220px) {
  .main .about__section .content .action {
    margin-right: 0;
  }
}
.main .about__section .content .action .title {
  font-weight: 600;
  font-size: 1.9375rem;
  line-height: 119.3548387097%;
  color: #FF8541;
}
.main .about__section .content .action .description {
  max-width: 40.625em;
  width: 100%;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 160%;
  color: #555351;
  margin-top: 1.875em;
  margin-bottom: 3.75em;
}
@media (max-width: 1220px) {
  .main .about__section .content .action .description {
    max-width: 100%;
    margin-top: 0.75em;
    margin-bottom: 1.875em;
  }
}
.main .about__section .content .cards__wrapper {
  display: flex;
  flex-direction: row;
  align-items: unset;
  justify-content: unset;
  flex-wrap: wrap;
  gap: 0.75em;
  max-width: 34em;
  width: 100%;
}
@media (max-width: 1220px) {
  .main .about__section .content .cards__wrapper {
    max-width: 100%;
  }
}
.main .about__section .content .cards__wrapper img[alt=logo] {
  width: 6.875em;
  height: 4.9375em;
}
@media (max-width: 520px) {
  .main .about__section .content .cards__wrapper .about-card {
    width: calc(50% - 0.75em);
  }
}
@media (max-width: 1220px) {
  .main .about__section .content .cards__wrapper .about-card:not(.active) {
    display: none;
  }
}
.main .articles__section {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 3.125em;
  position: relative;
  margin-top: 5em;
}
.main .articles__section .section__action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 0;
  position: relative;
}
.main .articles__section .articles__wrapper {
  display: flex;
  flex-direction: row;
  align-items: unset;
  justify-content: unset;
  flex-wrap: wrap;
  gap: 1.5em;
  position: relative;
}
@media (max-width: 1460px) {
  .main .articles__section .articles__wrapper .article-card {
    flex-direction: column;
    flex-shrink: 0;
    width: 20.125em;
    height: 28.125em;
  }
  .main .articles__section .articles__wrapper .article-card .img {
    max-width: 100%;
  }
}
.main .comments__section {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 3.125em;
  position: relative;
  margin-top: 5em;
}
.main .comments__section .section__action {
  position: relative;
}
.main .comments__section .comments__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 1.5em;
  position: relative;
}
.main .contact__section {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 3.125em;
  position: relative;
  margin-top: 5em;
}
.main .contact__section .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 0;
  position: relative;
  width: 100%;
  height: 32.75em;
  border-radius: 16px;
  overflow: hidden;
}
@media (max-width: 900px) {
  .main .contact__section .content {
    flex-direction: column;
    height: 51.875em;
  }
}
.main .contact__section .content .img {
  position: relative;
  max-width: 50%;
  width: 100%;
  height: 100%;
}
@media (max-width: 900px) {
  .main .contact__section .content .img {
    height: 40%;
    max-width: 100%;
  }
}
.main .contact__section .content .form {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: unset;
  flex-wrap: nowrap;
  gap: 0;
  position: relative;
  width: 50%;
  height: 100%;
  padding: 3.125em 3.75em;
  background-color: #F9F8F6;
}
@media (max-width: 900px) {
  .main .contact__section .content .form {
    height: 60%;
    width: 100%;
  }
  .main .contact__section .content .form .input,
  .main .contact__section .content .form .text-area,
  .main .contact__section .content .form .btn__wrapper {
    max-width: 100% !important;
  }
}
@media (max-width: 600px) {
  .main .contact__section .content .form {
    padding: 1.5625em 1.875em;
  }
}
.main .contact__section .content .form .title {
  font-weight: 600;
  font-size: 1.9375rem;
  line-height: 119.3548387097%;
  color: #555351;
  margin-bottom: 0.625em;
}
.main .contact__section .content .form .input,
.main .contact__section .content .form .text-area {
  margin-top: 1.25em;
}
.main .contact__section .content .form .btn__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  gap: 0;
  margin-top: 1.25em;
  max-width: 33.3125em;
}

/****************
** Main Styles **
****************/
.main {
  flex: 1 1 auto;
}

/*# sourceMappingURL=main.css.map */
