@use '../abstract/mixins';
@use '../abstract/functions' as fn;
@use '../base/variables' as var;

/******************
** Navbar Styles **
******************/
.navbar {
    position: relative;
    padding: fn.px-to-em(10px) 0;
    border-bottom: 1px solid var.$link--color;

    @include mixins.breakpoint--x-lg-extra {
        border-bottom: transparent;
    }
    
    .container {
        @include mixins.d-flex(row, center, space-between);
        z-index: 999;
    }

    // navbar content
    .navbar__content {
        @include mixins.d-flex(row, center, unset, nowrap, fn.px-to-em(131px));

        .logo {
            position: relative;
            width: fn.px-to-em(110px);
            height: fn.px-to-em(79px);
        }

        .navbar__links {
            @include mixins.d-flex(row, center, unset, nowrap, fn.px-to-em(48px));

            @include mixins.breakpoint--x-lg-extra {
                display: none;
            }
        }
    }

    // navbar action
    .navbar__action {
        @include mixins.d-flex(row, center, unset, nowrap, fn.px-to-em(12px));
        position: relative;

        .burger-menu {
            @include mixins.d-flex(column, center, center, nowrap, fn.px-to-em(9px));
            display: none;
            position: relative;
            width: fn.px-to-em(55px);
            height: fn.px-to-em(55px);
            border-radius: 8px;
            background-color: var.$primary-btn--color;
            cursor: pointer;

            @include mixins.breakpoint--x-lg-extra {
                display: flex;
            }

            .line {
                position: relative;
                width: fn.px-to-em(24px);
                border: 1px solid #fff;
                border-radius: 8px;
                transition: all .3s ease;
            }

            &.open {
                .line:first-child {
                    width: fn.px-to-em(30px);
                    transform-origin: left;
                    transform: rotate(45deg);
                    margin-left: fn.px-to-em(8px);
                }

                .line:nth-child(2) {
                    opacity: 0;
                }

                .line:last-child {
                    width: fn.px-to-em(30px);
                    transform-origin: left;
                    transform: rotate(-45deg);
                    margin-left: fn.px-to-em(8px);
                }
            }
        }
    }

    // link
    .navbar__link {
        font-size: fn.px-to-rem(16px);
        font-weight: 600;
        line-height: fn.px-to-rem(19px);
        color: var.$link--color;
        transition: all .3s ease;

        &:hover {
            color: var.$black--color;
        }

        &.active {
            color: var.$black--color;
        }
    }

    // links modal
    .links__modal {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: translateY(fn.px-to-em(-99px));
        padding: fn.px-to-em(40px) 0;
        background: linear-gradient(#fff, #dedede);
        z-index: 99;
        opacity: 0;
        transition: all .5s ease;

        &.open {
            opacity: 1;
            transform: translateY(100%);
        }

        @media screen and (min-width: 1200px) {
            transform: translateY(-100%) !important;
        }

        .container {
            @include mixins.d-flex(row, flex-start, space-between);
        }

        .navbar__links {
            @include mixins.d-flex(column, unset, unset, nowrap, fn.px-to-em(30px));
        }
    }

    // languages select
    .languages-selection {
        position: relative;
        width: fn.px-to-em(83px);
        height: fn.px-to-em(55px);
        border-radius: 8px;
        cursor: pointer;

        &.open {
            .language {
                display: flex;

                &.selected::after {
                    transform: rotate(135deg);
                }
            }
        }

        &:not(.mobile) {
            @include mixins.breakpoint--x-lg-extra {
                display: none;
            }
        }

        .arrow-icon {
            position: absolute;
            top: 50%;
            right: fn.px-to-em(18px);
            transform: translateY(-70%) rotate(-45deg);
            width: fn.px-to-em(8px);
            height: fn.px-to-em(8px);
            border: {
                left: 2px solid var.$grey--color;
                bottom: 2px solid var.$grey--color;
            };
        }

        .language {
            @include mixins.d-flex(unset, center, unset);
            display: none;
            padding-left: fn.px-to-em(18px);
            width: 100%;
            height: 100%;
            border: 1px solid var.$grey--color;
            border-radius: inherit;
            background: #fff;
            margin-top: 4px;
            z-index: 99;

            &:first-child {
                margin-top: 0;
            }

            &.selected {
                display: flex;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 999;
                margin-top: 0;

                &::after {
                    content: '';
                    position: absolute;
                    top: 40%;
                    right: fn.px-to-em(18px);
                    width: fn.px-to-em(7px);
                    height: fn.px-to-em(7px);
                    border: {
                        left: 1px solid var.$black--color;
                        bottom: 1px solid var.$black--color;
                    }
                    transform: rotate(-45deg);
                    transition: all .3s ease;
                }
            }
        }
    }
}