@use '../abstract/mixins';
@use '../abstract/functions' as fn;
@use '../base/variables' as var;

/*********************
** Home Page Styles **
*********************/
.main {
    position: relative;

    * {
        @media (pointer: coarse) {
            scrollbar-width: none;
        }
    }

    @include mixins.breakpoint--md {
        header,
        footer,
        section {
            margin-top: fn.px-to-em(32px) !important;
            gap: fn.px-to-em(24px) !important;
        }
    }

    .arrow-card {
        @include mixins.breakpoint--md {
            width: calc(100% / 2 - 10px) !important;
        }
    
        @include mixins.breakpoint--sm(440px) {
            width: 100% !important;
        }
    }

    .arrow-cards__wrapper {
        @include mixins.breakpoint--x-lg-extra(1460px) {
            flex-wrap: nowrap !important;
            overflow-x: scroll;
        }

        @include mixins.breakpoint--md {
            overflow: hidden;
        }
    }

    .arrow-icons__wrapper {
        @include mixins.d-flex(row, center, center, nowrap, fn.px-to-em(12px));
        position: relative;
        width: 100%;
        display: none;

        @include mixins.breakpoint--md {
            display: flex;
        }
    }

    .to-btn--color {
        color: var.$primary-btn--color;
    }

    .section__title {
        font-weight: 600;
        font-size: fn.px-to-rem(39px);
        line-height: fn.px-to-rem(47px);
        color: var.$black--color;
    }

    // Banner
    .banner {
        @include mixins.d-flex(unset, flex-end, unset);
        position: relative;
        width: 100%;
        height: fn.px-to-em(716px);
        margin-top: fn.px-to-em(var.$margin-between-sections);
        border-radius: 26px;
        overflow: hidden;
        padding: fn.px-to-em(84px) fn.px-to-em(80px);
        background: linear-gradient(359.84deg, #000000 1.04%, rgba(28, 25, 23, 0) 77.98%);

        @include mixins.breakpoint--x-lg {
            padding: fn.px-to-em(24px);
        }

        .img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -2;
        }

        .content {
            @include mixins.d-flex(column, unset, unset, nowrap, fn.px-to-rem(30px));
            position: relative;

            .title {
                font-weight: 600;
                font-size: fn.px-to-rem(64px);
                line-height: 120%;
                width: fn.px-to-rem(750px);
                color: #fff;

                @include mixins.breakpoint--x-lg-extra {
                    font-size: fn.px-to-rem(58px);
                }

                @include mixins.breakpoint--x-lg {
                    font-size: fn.px-to-rem(48px);
                }

                @include mixins.breakpoint--lg {
                    font-size: fn.px-to-rem(38px);
                    font-weight: 400;
                    width: 80%;
                }

                @include mixins.breakpoint--md {
                    font-size: fn.px-to-rem(28px)
                }
            }

            .description {
                @include mixins.d-flex(row, center, unset, nowrap, fn.px-to-rem(25px));
                font-weight: 400;
                font-size: fn.px-to-rem(25px);
                line-height: 120%;
                color: #fff;

                span {
                    width: fn.px-to-rem(393px);
                }

                @include mixins.breakpoint--x-lg-extra {
                    font-size: fn.px-to-rem(23px);
                }

                @include mixins.breakpoint--x-lg {
                    display: none;
                }
            }
        }
    }

    // Programs section
    .top-programs__section {
        @include mixins.d-flex(column, unset, unset, nowrap, fn.px-to-em(50px));
        position: relative;
        margin-top: fn.px-to-em(var.$margin-between-sections);

        .action {
            @include mixins.d-flex(row, center, space-between);
            position: relative;
        }

        .cards__wrapper {
            @include mixins.d-flex(row, center, unset, wrap, fn.px-to-em(24px));
            position: relative;

            
            @include mixins.breakpoint--x-lg-extra(1460px) {
                flex-wrap: nowrap;
                overflow-x: scroll;
            }
        }
    }

    // News section
    .news__section {
        @include mixins.d-flex(column, unset, unset, nowrap, fn.px-to-em(50px));
        position: relative;
        margin-top: fn.px-to-em(var.$margin-between-sections);

        .news__wrapper {
            @include mixins.d-flex(row, center, unset, nowrap, fn.px-to-em(24px));
        }
    }

    // About section
    .about__section {
        @include mixins.d-flex(column, unset, unset, nowrap, fn.px-to-em(50px));
        position: relative;
        margin-top: fn.px-to-em(var.$margin-between-sections);

        .about {
            position: absolute;
            display: inline-block;
            bottom: fn.px-to-em(48px);
            left: fn.px-to-em(48px);
            z-index: 5;

            @include mixins.breakpoint--x-lg-extra(1220px) {
                bottom: fn.px-to-em(24px);
                left: unset;
                right: fn.px-to-em(24px);
            }
        }

        .content {
            @include mixins.d-flex(row, unset, space-between);
            position: relative;
            padding: fn.px-to-em(48px);
            background-color: var.$footer-bg--color;
            border-radius: 26px;
            overflow: hidden;

            @include mixins.breakpoint--x-lg-extra(1220px) {
                flex-direction: column;
                padding: fn.px-to-em(24px);
                padding-bottom: fn.px-to-em(120px);
            }

            .action {
                @include mixins.d-flex(column, unset, unset);
                position: relative;
                margin-right: fn.px-to-em(130px);

                @include mixins.breakpoint--x-lg-extra(1220px) {
                    margin-right: 0;
                }

                .title {
                    font-weight: 600;
                    font-size: fn.px-to-rem(31px);
                    line-height: fn.px-to-percent(37px, 31px);
                    color: var.$primary-btn--color;
                }

                .description {
                    max-width: fn.px-to-em(650px);
                    width: 100%;
                    font-weight: 400;
                    font-size: fn.px-to-rem(20px);
                    line-height: fn.px-to-percent(32px, 20px);
                    color: var.$grey--color;
                    margin-top: fn.px-to-em(30px);
                    margin-bottom: fn.px-to-em(60px);

                    @include mixins.breakpoint--x-lg-extra(1220px) {
                        max-width: 100%;
                        margin-top: fn.px-to-em(12px);
                        margin-bottom: fn.px-to-em(30px);
                    }
                }
            }
            
            .cards__wrapper {
                @include mixins.d-flex(row, unset, unset, wrap, fn.px-to-em(12px));
                max-width: fn.px-to-em(544px);
                width: 100%;

                @include mixins.breakpoint--x-lg-extra(1220px) {
                    max-width: 100%;
                }

                img[alt='logo'] {
                    width: fn.px-to-em(110px);
                    height: fn.px-to-em(79px);
                }

                .about-card {
                    @include mixins.breakpoint--sm-extra(520px) {
                        width: calc(50% - fn.px-to-em(12px));
                    }

                    &:not(.active) {
                        @include mixins.breakpoint--x-lg-extra(1220px) {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    // Articles section
    .articles__section {
        @include mixins.d-flex(column, unset, unset, nowrap, fn.px-to-em(50px));
        position: relative;
        margin-top: fn.px-to-em(var.$margin-between-sections);

        .section__action {
            @include mixins.d-flex(row, center, space-between);
            position: relative;
        }

        .articles__wrapper {
            @include mixins.d-flex(row, unset, unset, wrap, fn.px-to-em(24px));
            position: relative;

            @include mixins.breakpoint--x-lg-extra(1460px) {

                .article-card {
                    flex-direction: column;
                    flex-shrink: 0;
                    width: fn.px-to-em(322px);
                    height: fn.px-to-em(450px);

                    .img {
                        max-width: 100%;
                    }
                }
            }
        }
    }

    // Comments section
    .comments__section {
        @include mixins.d-flex(column, unset, unset, nowrap, fn.px-to-em(50px));
        position: relative;
        margin-top: fn.px-to-em(var.$margin-between-sections);

        .section__action {
            position: relative;
        }

        .comments__wrapper {
            @include mixins.d-flex(row, center, unset, nowrap, fn.px-to-em(24px));
            position: relative;
        }
    }

    // Contact section
    .contact__section {
        @include mixins.d-flex(column, unset, unset, nowrap, fn.px-to-em(50px));
        position: relative;
        margin-top: fn.px-to-em(var.$margin-between-sections);

        .content {
            @include mixins.d-flex(row, center, unset);
            position: relative;
            width: 100%;
            height: fn.px-to-em(524px);
            border-radius: 16px;
            overflow: hidden;

            @include mixins.breakpoint--lg {
                flex-direction: column;
                height: fn.px-to-em(830px);
            }

            .img {
                position: relative;
                max-width: 50%;
                width: 100%;
                height: 100%;

                @include mixins.breakpoint--lg {
                    height: 40%;
                    max-width: 100%;
                }
            }

            .form {
                @include mixins.d-flex(column, unset, unset);
                position: relative;
                width: 50%;
                height: 100%;
                padding: fn.px-to-em(50px) fn.px-to-em(60px);
                background-color: var.$footer-bg--color;

                @include mixins.breakpoint--lg {
                    height: 60%;
                    width: 100%;

                    .input,
                    .text-area,
                    .btn__wrapper {
                        max-width: 100% !important;
                    }
                }

                @include mixins.breakpoint--sm-extra {
                    padding: fn.px-to-em(25px) fn.px-to-em(30px);
                }

                .title {
                    font-weight: 600;
                    font-size: fn.px-to-rem(31px);
                    line-height: fn.px-to-percent(37px, 31px);
                    color: var.$grey--color;
                    margin-bottom: fn.px-to-em(10px);
                }

                .input,
                .text-area {
                    margin-top: fn.px-to-em(20px);   
                }

                .btn__wrapper {
                    @include mixins.d-flex(row, center, flex-end);
                    margin-top: fn.px-to-em(20px);
                    max-width: fn.px-to-em(533px);
                }
            }
        }
    }
}