@use '../../abstract/mixins';
@use '../../abstract/functions' as fn;
@use '../../base/variables' as var;

/************************
** Comment Card Styles **
************************/
.comment-card {
    @include mixins.d-flex(unset, flex-end, unset);
    position: relative;
    width: fn.px-to-em(337px);
    height: fn.px-to-em(468px);
    border-radius: 16px;
    padding: fn.px-to-em(27px) fn.px-to-em(24px);
    overflow: hidden;
    background: linear-gradient(179.97deg, rgba(0, 0, 0, 0) 0.03%, rgba(0, 0, 0, 0.5) 126.88%);
    flex-shrink: 0;

    .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
    }

    .content {
        @include mixins.d-flex(column, unset, unset);
        position: relative;

        .name {
            font-weight: 400;
            font-size: fn.px-to-rem(20px);
            line-height: fn.px-to-rem(24px);
            color: #fff;
        }

        .specification {
            font-weight: 400;
            font-size: fn.px-to-rem(16px);
            line-height: fn.px-to-rem(18px);
            color: #fff;
        }
    }
}